{{> partials/header.hbs}}

<div class="content">
    {{> partials/navs}}
    <section class="content-right">
        <div class="edit-wrapper">
            <div class="article">
                <div class="title">
                    <input type="text" value="{{title}}" class="input title"/>
                </div>
                <div class="editor-area">
                    <textarea class="editor" id="editor"/>
                </div>
            </div>
            <div class="settings">
                <div class="title">
                    文章设置
                </div>

                <div class="item">
                    <div class="label-title">海报图片</div>
                    <input type="text" name="" value="{{poster}}" class="form-control poster">
                </div>

                <div class="item">
                    <div class="label-title">标签</div>
                    <input type="text" name="" value="{{tag}}" class="form-control">
                </div>

                <a class="btn btn-default save" href="javascript:;" data-id="{{id}}"> 保存 </a>

            </div>
        </div>
    </section>
</div>
