{{> partials/header.hbs}}

<div class="content">
    {{> partials/navs}}
    <section class="content-right">
        <div class="info">
            <div class="title">
                文章标题：<input type="text" value="{{title}}" class="input form-control"/>
            </div>
        </div>
        <div class="bottom-content">
            <div class="editor-area">
                <textarea class="editor" id="editor"/>
            </div>
            <div class="settings"></div>
        </div>
    </section>
</div>
