extends ../../layout.pug

block title
    title #{_T('admin page')}

block style
    link(rel='stylesheet' href="/styles/admin/jianshu.css")
    link(href="http://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css" rel="stylesheet")

block script
    script(src="http://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.js")
    
    script(src="/js/admin-jianshu.js")

block app
    .text .
