extends ../../layout.pug

block title
    title #{_T('admin page')}

block style
    link(rel='stylesheet' href="/styles/admin/jianshu.css")

block script
    script(src="/js/admin-jianshu.js")

block app
    .text .
