<nav>
    <ul>
        <li>
            <a href="/">总览</a>
        </li>
        <li>
            <a href="/list">列表</a>
        </li>
        <li>
            <a href="/setting">设置</a>
        </li>
    </ul>
</nav>
