doctype html

html
    head
        title #{article.title}
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel='stylesheet' href="/3rd/bootstrap/dist/css/bootstrap.min.css")
        link(rel='stylesheet' href="/3rd/font-awesome/css/font-awesome.min.css")
        link(href="/images/favicon.png" rel="SHORTCUT ICON")
        link(href="http://cdn.bootcss.com/highlight.js/9.12.0/styles/arduino-light.min.css" rel='stylesheet')
        script(src="http://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js")
        
        script.
            hljs.initHighlightingOnLoad();

        block style
        
    body
        block body
            
    script(src="/3rd/jquery/dist/jquery.min.js")
    script(src="/3rd/bootstrap/dist/js/bootstrap.min.js")
        
