extends ../home.pug

block style
    
    link(rel="stylesheet" href="/styles/theme/simple.css")

block body
    #app
        .container
            .row
                .secondary.col-lg-3
                    header.site-header(role="header")
                        .hgroup
                            h1.site-title
                                a(href="/") #{user.siteTitle} 
                            h2.sub-title #{user.subTitle}
                        nav.navigation
                            .nav-menu
                                ul
                                    -for(let page of user.pages){
                                        li 
                                            a(href=page.href) #{page.title}
                                    -}
                .primary.col-lg-9
