.content-right{
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 600px;
    .info{
        height: 60px;
        flex-shrink: 0;
        align-items: center;
        display: flex;
        padding-left: 20px;
        .title{
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            align-items: center;
            input{
                width: 60%;
            }
        }
    }
    .bottom-content{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        padding: 4px;


        .editor-area{
            flex-grow: 1;
            .CodeMirror{
                height: calc(100% - 90px);
            }
        }
        .settings{
            width: 240px;
            border-top: solid 1px rgba(176,176,176,.6);
            margin-left: -4px;
            padding-left: 4px;
        }
    }

}
