extends ./layout.pug

block title
    title #{_T('install')}

block style
    link(rel='stylesheet' href="/styles/admin/install.css")

block script
    script.
        var installed = #{installed};
    script(src="/js/install.js")
