doctype html

html
    head
        block title
        link(rel='stylesheet' href="/3rd/bootstrap/dist/css/bootstrap.min.css")
        link(rel='stylesheet' href="/3rd/font-awesome/css/font-awesome.min.css")
        block style

        link(href="/images/favicon.png" rel="SHORTCUT ICON")

        
    body
        #app
            block app
                #panel
            
    script(src="/3rd/jquery/dist/jquery.min.js")
    script(src="/3rd/bootstrap/dist/js/bootstrap.min.js")
    block script
