@import "../../common.scss";
@import "../fonts.scss";
@import "./left.scss";
@import "./common.scss";



#app{
    .row{
        display:flex;
    }

    .primary{
        background-color:white;
        min-height:800px;
        h2,h3,h4,h5{
            font-family: Roboto Slab;
        }
        .article{
            padding: 60px 35px !important;
            border-bottom: 1px solid #EEE;
            header{
                border-bottom: 1px solid #F3F3F3;
            }
            h2{
                font-size: 44px;
                font-family: "Roboto Slab";
                font-weight: 300;
            }
            .info{
                text-align: right;
                color: #3BC4FA !important;
                font-size: 16px !important;
                font-family: Roboto Condensed;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                height: 20px;
                margin-bottom: 5px;
                .date{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                .comments{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;
                }
                i{
                    margin-right: 4px;
                    margin-left: 4px;
                }
            }
        }
    }
}
