.panel
    .title 
        h4 设置数据库
    .options
        .radio
            label
                input(type="radio" v-model="db" value="0")
                span Sqlite(无需安装数据库)
            label
                input(type="radio" v-model="db" value="1")
                span MongoDb 
                
    hr
    .content.form-horizontal
        .form-group
            label.control-label.col-sm-3(for="filename") 数据库文件名:
            .col-sm-9
                input(type="text" class="form-control" v-model="filename" required )
        template(v-if="db == 0")
            
            
        template(v-if="db == 1")
            .form-group
                label.control-label.col-sm-3(for="dbname") 数据库用户名:
                .col-sm-9
                    input(type="text" class="form-control" v-model="dbname" required )
            .form-group
                label.control-label.col-sm-3(for="dbpass") 数据库密码:
                .col-sm-9
                    input(type="text" class="form-control" v-model="dbpass" required )
            .form-group
                label.control-label.col-sm-3(for="dbaddr") 数据库连接地址:
                .col-sm-9
                    input(type="text" class="form-control" v-model="dbaddr" placeholder="localhost:27017")
        .bottom
            input.btn.btn-primary(type="button" value="下一步")
