body{
    background-image: url(/images/theme/simple/background.jpg);
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;

}
