@import "./simple/left.scss";
@import "./simple/common.scss";

#app{
    .row{
        display:flex;
    }
    .primary{
        background-color:white;
        min-height:800px;
        h2,h3,h4,h5{
            font-family: Roboto Slab;
        }
    }
}
