.edit-view(v-bind:class="full?'is-full':''")
    template(v-if="finished==false")
        .head
            input.title.center(v-model="title")
            .right-tools
                .preview(@click="preview" title="预览")
                    .icon.fa.fa-film(aria-hidden="true" )
                .save(title="保存" @click="save")
                    .icon.fa.fa-floppy-o(aria-hidden="true" )
                .full-screen(title="全屏" @click="fullScreen")
                    .icon.fa.fa-expand(aria-hidden="true")
                .send(@click="send" title="发布")
                    .icon.fa.fa-share(aria-hidden="true")
                    div 发布文章
                
            
        textarea.editor(v-model="article")
    template(v-if="finished==true")
        .finished 
            h4 文章发布成功，已发布文章可在文章列表查看！
        
    .hide
        a(ref="openBtn" href="javascript:;" @click="openPreview")

    .side-bar(v-bind:class="showBar?'show-bar':'hide-bar'")
        .drag-btn(@click="showCategory")
            div 目
            div 录
        .show-content
            .drop-btn(@click="hideCategory") 收起
                
            .content
                .title 设置目录
                .list
                    label.item(v-for="item in list")
                        .col.checkbox
                            input(type="radio" v-model="checkboxes" v-bind:value="item.id" name="radio")
                        .col.name {{item.title}}
                .bottom
                    .input
                        input(type="text" v-model="category")
                    .add 
                        a(href="javascript:;" @click="addCategory") 新建
