.panel
    .head
        img(src="/images/FIZZ.png")
    .body
        form(@submit.prevent="onClick")
            
            .form-group
                label(for="username") 用户名：
                input(type="text" class="form-control" v-model="username" required)
            .form-group
                label(for="password") 密码：
                input(type="password" class="form-control" v-model="password" required)
            
            .bottom
                .checkbox
                    label
                        input(type="checkbox" v-model="checked") 
                        span 记住我的登录信息
                .right
                    input(type="submit" class="btn btn-primary" value="登录")

            .err-msg(v-if = "errMsg && errMsg.length>0")
                .error 
                .text {{errMsg}}
